Node-Red Code/UniversalRobot_Modbus_Dashboard.json
[{"id":"9386f653.a90368","type":"tab","label":"UR Modbus","disabled":false,"info":""},{"id":"e78fff4.97d27","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Joint ","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"270","quantity":"6","rate":"10","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":240,"wires":[["22d71157.82a23e"],[]]},{"id":"2d534161.2562ce","type":"comment","z":"9386f653.a90368","name":"Reading data from URSIM over modbus","info":"","x":220,"y":60,"wires":[]},{"id":"cfa5ac56.ed7f6","type":"comment","z":"9386f653.a90368","name":"Reading Joints - 270 - 275","info":"","x":170,"y":160,"wires":[]},{"id":"22d71157.82a23e","type":"function","z":"9386f653.a90368","name":"Split array[6] to single output (int) & convert to deg","func":"var int0 = {payload: msg.payload[0]*360/6283 }\nvar int1 = {payload: msg.payload[1]*360/6283 }\nvar int2 = {payload: msg.payload[2]*360/6283 }\nvar int3 = {payload: msg.payload[3]*360/6283 }\nvar int4 = {payload: msg.payload[4]*360/6283 }\nvar int5 = {payload: msg.payload[5]*360/6283 }\n\nreturn [int0, int1, int2, int3, int4, int5];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["a6bc76a2.16a5f8","41d71b29.f38d74","b85a7452.09e6e8"],["b677e392.7dd6d","c4248d77.93ec9","a56e3aef.89f138"],["de9fa99c.c9ca18","cc82b618.976138","e6574b52.f49ba8"],["ab5f0b87.c38c88","b8405362.14988","810da984.e8e588"],["1831ccdc.ca7643","c8988578.ec1c08","524b726a.d0faec"],["51b53dc6.659114","f1bcd902.d6b1a8","bf8190d9.cec37"]]},{"id":"a6bc76a2.16a5f8","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 0","group":"c7af4b6f.4111b8","order":1,"width":3,"height":3,"label":"Joint 0 - Base","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":40,"wires":[[]]},{"id":"b677e392.7dd6d","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 1","group":"c7af4b6f.4111b8","order":2,"width":3,"height":3,"label":"Joint 1 - Shoulder","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":80,"wires":[[]]},{"id":"de9fa99c.c9ca18","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 2","group":"c7af4b6f.4111b8","order":3,"width":3,"height":3,"label":"Joint 2 - Elbow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":120,"wires":[[]]},{"id":"ab5f0b87.c38c88","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 3","group":"c7af4b6f.4111b8","order":4,"width":3,"height":3,"label":"Joint 3 - Wrist 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":160,"wires":[[]]},{"id":"1831ccdc.ca7643","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 4","group":"c7af4b6f.4111b8","order":5,"width":3,"height":3,"label":"Joint 4 - Wrist 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":200,"wires":[[]]},{"id":"51b53dc6.659114","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 5","group":"c7af4b6f.4111b8","order":6,"width":3,"height":3,"label":"Joint 5 - Wrist 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":240,"wires":[[]]},{"id":"ad092500.924078","type":"comment","z":"9386f653.a90368","name":"","info":"Simple video showing how to use NR and modbus\n\nhttps://www.youtube.com/watch?v=94FvuTz1qHg\n\nUniversal robots Modbus documentation\nhttps://www.universal-robots.com/articles/ur/interface-communication/modbus-server/","x":510,"y":60,"wires":[]},{"id":"7905c739.c35098","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Read digiOutput ","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":220,"y":620,"wires":[["b8743016.f30fd","ac901d61.75356"],[]]},{"id":"b8743016.f30fd","type":"bitunloader","z":"9386f653.a90368","name":"","mode":"arrayBools","prop":"payload","padding":"8","x":490,"y":620,"wires":[["737c971.a3ad768"]]},{"id":"17665967.fd08f7","type":"ui_led","z":"9386f653.a90368","order":1,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 0","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 0","x":960,"y":560,"wires":[]},{"id":"3fc3ff22.63bfb","type":"ui_led","z":"9386f653.a90368","order":2,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 1","x":960,"y":600,"wires":[]},{"id":"9dc0fd6b.2cdde","type":"ui_led","z":"9386f653.a90368","order":3,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 2","x":960,"y":640,"wires":[]},{"id":"22a21902.1ff2b6","type":"ui_led","z":"9386f653.a90368","order":4,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 3","x":960,"y":680,"wires":[]},{"id":"737c971.a3ad768","type":"function","z":"9386f653.a90368","name":"Split array[8] to single output","func":"var bit0 = {payload: msg.payload[0] }\nvar bit1 = {payload: msg.payload[1] }\nvar bit2 = {payload: msg.payload[2] }\nvar bit3 = {payload: msg.payload[3] }\nvar bit4 = {payload: msg.payload[4] }\nvar bit5 = {payload: msg.payload[5] }\nvar bit6 = {payload: msg.payload[6] }\nvar bit7 = {payload: msg.payload[7] }\n\nreturn [bit0, bit1, bit2, bit3, bit4, bit5, bit6, bit7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":700,"y":620,"wires":[["17665967.fd08f7"],["3fc3ff22.63bfb"],["9dc0fd6b.2cdde"],["22a21902.1ff2b6"],["d0742deb.f36a7"],["a138d4ed.557ee8"],["81dc4de1.9f3c8"],["68b90091.525a9"]]},{"id":"d0742deb.f36a7","type":"ui_led","z":"9386f653.a90368","order":5,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 4","x":1140,"y":560,"wires":[]},{"id":"a138d4ed.557ee8","type":"ui_led","z":"9386f653.a90368","order":6,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 5","x":1140,"y":600,"wires":[]},{"id":"81dc4de1.9f3c8","type":"ui_led","z":"9386f653.a90368","order":7,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 6","x":1140,"y":640,"wires":[]},{"id":"68b90091.525a9","type":"ui_led","z":"9386f653.a90368","order":8,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 7","x":1140,"y":680,"wires":[]},{"id":"fa5cea26.794b08","type":"comment","z":"9386f653.a90368","name":"Displaying all Digital Output","info":"","x":540,"y":540,"wires":[]},{"id":"96e0a2fa.b6bc4","type":"modbus-write","z":"9386f653.a90368","name":"Universal Robot - Write digiOutput","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"220bff72.507be","emptyMsgOnFail":false,"keepMsgProperties":false,"x":800,"y":920,"wires":[[],[]]},{"id":"aab22c41.cb10c","type":"ui_text_input","z":"9386f653.a90368","name":"","label":"Input Digital Output [0-255]","tooltip":"","group":"6541e0b.f8a1f2","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":200,"y":920,"wires":[["b3eb386.1eca9c8"]]},{"id":"b3eb386.1eca9c8","type":"function","z":"9386f653.a90368","name":"","func":"if (msg.payload > 255){\n    msg.payload = 255;\n    return msg;\n}\n\nif (msg.payload < 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msg.payload > 0){\n    return msg;\n}\n\nif (msg.payload < 255){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":920,"wires":[["96e0a2fa.b6bc4"]]},{"id":"c9baeacc.258e08","type":"link out","z":"9386f653.a90368","name":"Digital Input & Output","links":["1ebf0f31.0abd01","5c923810.94e078"],"x":675,"y":740,"wires":[]},{"id":"4d5b34a7.080e2c","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Read digiInput","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":210,"y":720,"wires":[["56b6d7e7.65cb88"],[]]},{"id":"ac901d61.75356","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URoutput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":720,"wires":[["c9baeacc.258e08"]]},{"id":"56b6d7e7.65cb88","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URinput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["c9baeacc.258e08"]]},{"id":"41d71b29.f38d74","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":7,"width":3,"height":3,"name":"Joint 0 - Base","icon":"","label":"Joint 0 - Base","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":40,"wires":[]},{"id":"c4248d77.93ec9","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":8,"width":3,"height":3,"name":"Joint 1 - Shoulder","icon":"","label":"Joint 1 - Shoulder","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":970,"y":80,"wires":[]},{"id":"cc82b618.976138","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":9,"width":3,"height":3,"name":"Joint 2 - Elbow","icon":"","label":"Joint 2 - Elbow","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"°","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":120,"wires":[]},{"id":"b8405362.14988","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":10,"width":3,"height":3,"name":"Joint 3 - Wrist 1","icon":"","label":"Joint 3 - Wrist 1","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":160,"wires":[]},{"id":"c8988578.ec1c08","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":11,"width":3,"height":3,"name":"Joint 4 - Wrist 2","icon":"","label":"Joint 4 - Wrist 2","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":200,"wires":[]},{"id":"f1bcd902.d6b1a8","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":12,"width":3,"height":3,"name":"Joint 6 - Wrist 3","icon":"","label":"Joint 6 - Wrist 3","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":240,"wires":[]},{"id":"b85a7452.09e6e8","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":300,"wires":[["4e2eda9.a6a7324"]]},{"id":"a56e3aef.89f138","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":340,"wires":[["4e2eda9.a6a7324"]]},{"id":"e6574b52.f49ba8","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":380,"wires":[["4e2eda9.a6a7324"]]},{"id":"810da984.e8e588","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["4e2eda9.a6a7324"]]},{"id":"524b726a.d0faec","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[["4e2eda9.a6a7324"]]},{"id":"bf8190d9.cec37","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":500,"wires":[["4e2eda9.a6a7324"]]},{"id":"4e2eda9.a6a7324","type":"link out","z":"9386f653.a90368","name":"UR-Joints","links":["1ebf0f31.0abd01","5c923810.94e078"],"x":1165,"y":400,"wires":[]},{"id":"220bff72.507be","type":"modbus-client","name":"UR","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.154.128","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"c7af4b6f.4111b8","type":"ui_group","name":"Joints","tab":"a80ca9c2.9b3378","order":1,"disp":true,"width":6,"collapse":false},{"id":"6541e0b.f8a1f2","type":"ui_group","name":"Output","tab":"a80ca9c2.9b3378","order":2,"disp":true,"width":"6","collapse":false},{"id":"a80ca9c2.9b3378","type":"ui_tab","name":"Modbus Dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}][{"id":"9386f653.a90368","type":"tab","label":"UR Modbus","disabled":false,"info":""},{"id":"e78fff4.97d27","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Joint ","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"270","quantity":"6","rate":"10","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":240,"wires":[["22d71157.82a23e"],[]]},{"id":"2d534161.2562ce","type":"comment","z":"9386f653.a90368","name":"Reading data from URSIM over modbus","info":"","x":220,"y":60,"wires":[]},{"id":"cfa5ac56.ed7f6","type":"comment","z":"9386f653.a90368","name":"Reading Joints - 270 - 275","info":"","x":170,"y":160,"wires":[]},{"id":"22d71157.82a23e","type":"function","z":"9386f653.a90368","name":"Split array[6] to single output (int) & convert to deg","func":"var int0 = {payload: msg.payload[0]*360/6283 }\nvar int1 = {payload: msg.payload[1]*360/6283 }\nvar int2 = {payload: msg.payload[2]*360/6283 }\nvar int3 = {payload: msg.payload[3]*360/6283 }\nvar int4 = {payload: msg.payload[4]*360/6283 }\nvar int5 = {payload: msg.payload[5]*360/6283 }\n\nreturn [int0, int1, int2, int3, int4, int5];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["a6bc76a2.16a5f8","41d71b29.f38d74","b85a7452.09e6e8"],["b677e392.7dd6d","c4248d77.93ec9","a56e3aef.89f138"],["de9fa99c.c9ca18","cc82b618.976138","e6574b52.f49ba8"],["ab5f0b87.c38c88","b8405362.14988","810da984.e8e588"],["1831ccdc.ca7643","c8988578.ec1c08","524b726a.d0faec"],["51b53dc6.659114","f1bcd902.d6b1a8","bf8190d9.cec37"]]},{"id":"a6bc76a2.16a5f8","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 0","group":"c7af4b6f.4111b8","order":1,"width":3,"height":3,"label":"Joint 0 - Base","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":40,"wires":[[]]},{"id":"b677e392.7dd6d","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 1","group":"c7af4b6f.4111b8","order":2,"width":3,"height":3,"label":"Joint 1 - Shoulder","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":80,"wires":[[]]},{"id":"de9fa99c.c9ca18","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 2","group":"c7af4b6f.4111b8","order":3,"width":3,"height":3,"label":"Joint 2 - Elbow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":120,"wires":[[]]},{"id":"ab5f0b87.c38c88","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 3","group":"c7af4b6f.4111b8","order":4,"width":3,"height":3,"label":"Joint 3 - Wrist 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":160,"wires":[[]]},{"id":"1831ccdc.ca7643","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 4","group":"c7af4b6f.4111b8","order":5,"width":3,"height":3,"label":"Joint 4 - Wrist 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":200,"wires":[[]]},{"id":"51b53dc6.659114","type":"ui_chart","z":"9386f653.a90368","d":true,"name":"Joint 5","group":"c7af4b6f.4111b8","order":6,"width":3,"height":3,"label":"Joint 5 - Wrist 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":240,"wires":[[]]},{"id":"ad092500.924078","type":"comment","z":"9386f653.a90368","name":"","info":"Simple video showing how to use NR and modbus\n\nhttps://www.youtube.com/watch?v=94FvuTz1qHg\n\nUniversal robots Modbus documentation\nhttps://www.universal-robots.com/articles/ur/interface-communication/modbus-server/","x":510,"y":60,"wires":[]},{"id":"7905c739.c35098","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Read digiOutput ","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":220,"y":620,"wires":[["b8743016.f30fd","ac901d61.75356"],[]]},{"id":"b8743016.f30fd","type":"bitunloader","z":"9386f653.a90368","name":"","mode":"arrayBools","prop":"payload","padding":"8","x":490,"y":620,"wires":[["737c971.a3ad768"]]},{"id":"17665967.fd08f7","type":"ui_led","z":"9386f653.a90368","order":1,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 0","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 0","x":960,"y":560,"wires":[]},{"id":"3fc3ff22.63bfb","type":"ui_led","z":"9386f653.a90368","order":2,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 1","x":960,"y":600,"wires":[]},{"id":"9dc0fd6b.2cdde","type":"ui_led","z":"9386f653.a90368","order":3,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 2","x":960,"y":640,"wires":[]},{"id":"22a21902.1ff2b6","type":"ui_led","z":"9386f653.a90368","order":4,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 3","x":960,"y":680,"wires":[]},{"id":"737c971.a3ad768","type":"function","z":"9386f653.a90368","name":"Split array[8] to single output","func":"var bit0 = {payload: msg.payload[0] }\nvar bit1 = {payload: msg.payload[1] }\nvar bit2 = {payload: msg.payload[2] }\nvar bit3 = {payload: msg.payload[3] }\nvar bit4 = {payload: msg.payload[4] }\nvar bit5 = {payload: msg.payload[5] }\nvar bit6 = {payload: msg.payload[6] }\nvar bit7 = {payload: msg.payload[7] }\n\nreturn [bit0, bit1, bit2, bit3, bit4, bit5, bit6, bit7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":700,"y":620,"wires":[["17665967.fd08f7"],["3fc3ff22.63bfb"],["9dc0fd6b.2cdde"],["22a21902.1ff2b6"],["d0742deb.f36a7"],["a138d4ed.557ee8"],["81dc4de1.9f3c8"],["68b90091.525a9"]]},{"id":"d0742deb.f36a7","type":"ui_led","z":"9386f653.a90368","order":5,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 4","x":1140,"y":560,"wires":[]},{"id":"a138d4ed.557ee8","type":"ui_led","z":"9386f653.a90368","order":6,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 5","x":1140,"y":600,"wires":[]},{"id":"81dc4de1.9f3c8","type":"ui_led","z":"9386f653.a90368","order":7,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 6","x":1140,"y":640,"wires":[]},{"id":"68b90091.525a9","type":"ui_led","z":"9386f653.a90368","order":8,"group":"6541e0b.f8a1f2","width":0,"height":0,"label":"Digital Output 7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Digital Output 7","x":1140,"y":680,"wires":[]},{"id":"fa5cea26.794b08","type":"comment","z":"9386f653.a90368","name":"Displaying all Digital Output","info":"","x":540,"y":540,"wires":[]},{"id":"96e0a2fa.b6bc4","type":"modbus-write","z":"9386f653.a90368","name":"Universal Robot - Write digiOutput","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"220bff72.507be","emptyMsgOnFail":false,"keepMsgProperties":false,"x":800,"y":920,"wires":[[],[]]},{"id":"aab22c41.cb10c","type":"ui_text_input","z":"9386f653.a90368","name":"","label":"Input Digital Output [0-255]","tooltip":"","group":"6541e0b.f8a1f2","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":200,"y":920,"wires":[["b3eb386.1eca9c8"]]},{"id":"b3eb386.1eca9c8","type":"function","z":"9386f653.a90368","name":"","func":"if (msg.payload > 255){\n    msg.payload = 255;\n    return msg;\n}\n\nif (msg.payload < 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msg.payload > 0){\n    return msg;\n}\n\nif (msg.payload < 255){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":920,"wires":[["96e0a2fa.b6bc4"]]},{"id":"c9baeacc.258e08","type":"link out","z":"9386f653.a90368","name":"Digital Input & Output","links":["1ebf0f31.0abd01","5c923810.94e078"],"x":675,"y":740,"wires":[]},{"id":"4d5b34a7.080e2c","type":"modbus-read","z":"9386f653.a90368","name":"Universal Robot - Read digiInput","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"220bff72.507be","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":210,"y":720,"wires":[["56b6d7e7.65cb88"],[]]},{"id":"ac901d61.75356","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URoutput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":720,"wires":[["c9baeacc.258e08"]]},{"id":"56b6d7e7.65cb88","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URinput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["c9baeacc.258e08"]]},{"id":"41d71b29.f38d74","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":7,"width":3,"height":3,"name":"Joint 0 - Base","icon":"","label":"Joint 0 - Base","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":40,"wires":[]},{"id":"c4248d77.93ec9","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":8,"width":3,"height":3,"name":"Joint 1 - Shoulder","icon":"","label":"Joint 1 - Shoulder","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":970,"y":80,"wires":[]},{"id":"cc82b618.976138","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":9,"width":3,"height":3,"name":"Joint 2 - Elbow","icon":"","label":"Joint 2 - Elbow","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"°","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":120,"wires":[]},{"id":"b8405362.14988","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":10,"width":3,"height":3,"name":"Joint 3 - Wrist 1","icon":"","label":"Joint 3 - Wrist 1","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":160,"wires":[]},{"id":"c8988578.ec1c08","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":11,"width":3,"height":3,"name":"Joint 4 - Wrist 2","icon":"","label":"Joint 4 - Wrist 2","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":200,"wires":[]},{"id":"f1bcd902.d6b1a8","type":"ui_artlessgauge","z":"9386f653.a90368","group":"c7af4b6f.4111b8","order":12,"width":3,"height":3,"name":"Joint 6 - Wrist 3","icon":"","label":"Joint 6 - Wrist 3","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":960,"y":240,"wires":[]},{"id":"b85a7452.09e6e8","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":300,"wires":[["4e2eda9.a6a7324"]]},{"id":"a56e3aef.89f138","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":340,"wires":[["4e2eda9.a6a7324"]]},{"id":"e6574b52.f49ba8","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":380,"wires":[["4e2eda9.a6a7324"]]},{"id":"810da984.e8e588","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["4e2eda9.a6a7324"]]},{"id":"524b726a.d0faec","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[["4e2eda9.a6a7324"]]},{"id":"bf8190d9.cec37","type":"change","z":"9386f653.a90368","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"URJ5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":500,"wires":[["4e2eda9.a6a7324"]]},{"id":"4e2eda9.a6a7324","type":"link out","z":"9386f653.a90368","name":"UR-Joints","links":["1ebf0f31.0abd01","5c923810.94e078"],"x":1165,"y":400,"wires":[]},{"id":"220bff72.507be","type":"modbus-client","name":"UR","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.154.128","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"c7af4b6f.4111b8","type":"ui_group","name":"Joints","tab":"a80ca9c2.9b3378","order":1,"disp":true,"width":6,"collapse":false},{"id":"6541e0b.f8a1f2","type":"ui_group","name":"Output","tab":"a80ca9c2.9b3378","order":2,"disp":true,"width":"6","collapse":false},{"id":"a80ca9c2.9b3378","type":"ui_tab","name":"Modbus Dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}]